body, html {
    margin: 0;
    height: 100%;
    width: 100%;
    cursor: url(assets/fish.jpg), auto;
}

.background {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.text {
    width: 50vw;
    margin: 150px;
    position: absolute;
    font-family: "Comic Sans MS";
    font-size: 50px;
    z-index: 1;
}